{% extends "main/layout.html" %} {% load static %} {% block tittle %}Фотогалерея{% endblock %} {% block content %}
<div class="features">
    <h1>Фотогалерея</h1>

    <section id="our_rooms" class="section pb-0 pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/1.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/2.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/3.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/4.jpeg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/5.jpeg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/6.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/7.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/8.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/9.jpg' %}" alt="" class="room__photo">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}