 {% extends "main/layout.html" %} {% load static %} {% block tittle %}Номера{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}"> {% endblock %} {% block content %}

<div class="features">
    <h1>Номера</h1>

    <section id="our_rooms" class="section pb-0 pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/1.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Роскошный люкс</h5>
                            <h5 class="room__price">30 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/2.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Уединенный вид на океан</h5>
                            <h5 class="room__price">20 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/3.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Уютная хижина</h5>
                            <h5 class="room__price">10 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/4.jpeg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Элегантный пентхаус</h5>
                            <h5 class="room__price">60 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/5.jpeg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Укрытие природы</h5>
                            <h5 class="room__price">15 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/6.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Городская оазис</h5>
                            <h5 class="room__price">12 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/7.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Горная шале</h5>
                            <h5 class="room__price">25 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/8.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Вилла на первой линии у пляжа</h5>
                            <h5 class="room__price">40 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="link_unstyled">
                        <div class="room">
                            <img src="{% static 'main/img/9.jpg' %}" alt="" class="room__photo">
                            <h5 class="room__title">Небесный чердак</h5>
                            <h5 class="room__price">50 000 рублей за ночь</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>





</div>
{% endblock %}